<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.mjachyra.beerbrowser">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:theme="@style/AppTheme">
    </activity>
    <activity
        android:name=".BeerDetailsActivity"
        android:label="@string/title_activity_beer"
        android:parentActivityName=".MainActivity"
        android:theme="@style/AppTheme">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value="pl.mjachyra.beerbrowser.MainActivity"/>
    </activity>
    <activity
        android:name=".SplashActivity"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:label="@string/title_activity_splash"
        android:parentActivityName=".MainActivity"
        android:theme="@style/FullscreenTheme">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value="pl.mjachyra.beerbrowser.MainActivity"/>

      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>

</manifest>